/****************************************************************************/
/* Colors */
/****************************************************************************/
/****************************************************************************/
/* Fonts */
/****************************************************************************/
/*========== Load Fonts ==========*/
@font-face {
  font-family: 'Lora-Regular';
  src: url("Lora-Regular.eot");
  src: url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.ttf") format("truetype"), url("../fonts/Lora-Regular.svg#Lora-Regular") format("svg"), url("../fonts/Lora-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lora-Italic';
  src: url("../fonts/Lora-Italic.eot");
  src: url("../fonts/Lora-Italic.woff2") format("woff2"), url("../fonts/Lora-Italic.woff") format("woff"), url("../fonts/Lora-Italic.ttf") format("truetype"), url("../fonts/Lora-Italic.svg#Lora-Italic") format("svg"), url("../fonts/Lora-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'PostGrotesk';
  src: url("../fonts/PostGrotesk-Medium.eot");
  src: url("../fonts/PostGrotesk-Medium.woff2") format("woff2"), url("../fonts/PostGrotesk-Medium.woff") format("woff"), url("../fonts/PostGrotesk-Medium.ttf") format("truetype"), url("../fonts/PostGrotesk-Medium.svg#PostGrotesk-Medium") format("svg"), url("../fonts/PostGrotesk-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'PostGrotesk';
  src: url("../fonts/PostGrotesk-Bold.eot");
  src: url("../fonts/PostGrotesk-Bold.woff2") format("woff2"), url("../fonts/PostGrotesk-Bold.woff") format("woff"), url("../fonts/PostGrotesk-Bold.ttf") format("truetype"), url("../fonts/PostGrotesk-Bold.svg#Lora-Bold") format("svg"), url("../fonts/PostGrotesk-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal; }
/*========== Font Sizes ==========*/
/****************************************************************************/
/* Delete Default Styles */
/****************************************************************************/
/*========== List ==========*/
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  position: relative; }

/****************************************************************************/
/* Header */
/****************************************************************************/
/*========== Nav ==========*/
.main_nav {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }
  .main_nav ul {
    display: block;
    padding-left: 20px;
    position: relative; }
    .main_nav ul li.nav-item {
      display: inline-block;
      padding: 60px 12px 20px 5px; }
      .main_nav ul li.nav-item a {
        text-decoration: none; }
    .main_nav ul li.nav-item, .main_nav ul a {
      color: #fbfcff;
      font-family: "PostGrotesk", serif;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      letter-spacing: 4px;
      font-size: 1em;
      position: relative; }
    .main_nav ul .active a::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #fbfcff;
      position: absolute;
      top: 28px;
      left: 0px; }

/****************************************************************************/
/* Animated Background */
/****************************************************************************/
#animated-background {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;
  background-color: #1e48f0; }

/*# sourceMappingURL=home.css.map */
