/****************************************************************************/
/* Colors */
/****************************************************************************/
/****************************************************************************/
/* Fonts */
/****************************************************************************/
/*========== Load Fonts ==========*/
@font-face {
  font-family: 'Lora-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lora-Regular.eot"), url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.ttf") format("truetype"), url("../fonts/Lora-Regular.svg#Lora-Regular") format("svg"), url("../fonts/Lora-Regular.eot?#iefix") format("embedded-opentype"); }
@font-face {
  font-family: 'Lora-Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Lora-Italic.eot"), url("../fonts/Lora-Italic.woff2") format("woff2"), url("../fonts/Lora-Italic.woff") format("woff"), url("../fonts/Lora-Italic.ttf") format("truetype"), url("../fonts/Lora-Italic.svg#Lora-Italic") format("svg"), url("../fonts/Lora-Italic.eot?#iefix") format("embedded-opentype"); }
@font-face {
  font-family: 'PostGrotesk';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/PostGrotesk-Medium.eot"), url("../fonts/PostGrotesk-Medium.woff2") format("woff2"), url("../fonts/PostGrotesk-Medium.woff") format("woff"), url("../fonts/PostGrotesk-Medium.ttf") format("truetype"), url("../fonts/PostGrotesk-Medium.svg#PostGrotesk-Medium") format("svg"), url("../fonts/PostGrotesk-Medium.eot?#iefix") format("embedded-opentype"); }
@font-face {
  font-family: 'PostGrotesk';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/PostGrotesk-Bold.eot"), url("../fonts/PostGrotesk-Bold.woff2") format("woff2"), url("../fonts/PostGrotesk-Bold.woff") format("woff"), url("../fonts/PostGrotesk-Bold.ttf") format("truetype"), url("../fonts/PostGrotesk-Bold.svg#Lora-Bold") format("svg"), url("../fonts/PostGrotesk-Bold.eot?#iefix") format("embedded-opentype"); }
@font-face {
  font-family: 'PostGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PostGrotesk-Book.eot"), url("../fonts/PostGrotesk-Book.woff2") format("woff2"), url("../fonts/PostGrotesk-Book.woff") format("woff"), url("../fonts/PostGrotesk-Book.ttf") format("truetype"), url("../fonts/PostGrotesk-Book.svg#Lora-Book") format("svg"), url("../fonts/PostGrotesk-Book.eot?#iefix") format("embedded-opentype"); }
/*========== Font Sizes ==========*/
/****************************************************************************/
/* Delete Default Styles */
/****************************************************************************/
/*========== Common Fixes ==========*/
html {
  box-sizing: border-box;
  font-family: "PostGrotesk", serif; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

/*========== List ==========*/
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  position: relative; }
  body.color-transition {
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    transition: .7s; }

/****************************************************************************/
/* Color */
/****************************************************************************/
body, .get-in-touch {
  background-color: #0011F7; }

.star-project:nth-child(3) img.arrow {
  color: #fbfcff; }

/****************************************************************************/
/* TYPOGRAPHY */
/****************************************************************************/
/*========== General ==========*/
.home h1 {
  font-size: 3em;
  font-weight: 900; }
.home p {
  font-family: "Lora-Regular", serif;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin: 0.3em 0;
  line-height: 1.5em; }
.home h1, .home h2, .home p {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
.home h2 {
  font-weight: 600; }

#journal-section h1 {
  font-size: 2.5em; }
#journal-section p {
  line-height: 1.9em; }

.styled-text {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: 7px;
  font-size: 0.6em;
  font-weight: 900;
  transform: rotate(0.25turn);
  position: absolute; }
  .styled-text:after {
    background: #212121;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    top: -10px;
    width: 15px; }

/****************************************************************************/
/* NAVIGATION */
/****************************************************************************/
/*========== Fixed Top Nav ==========*/
/*========== Main Nav ==========*/
.main-nav {
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }
  .main-nav ul {
    display: block;
    position: relative; }
    .main-nav ul li.nav-item {
      padding: 10px 12px 20px 0; }
    .main-nav ul li.nav-item, .main-nav ul a {
      color: #fbfcff;
      font-size: 0.9em;
      font-weight: 600;
      letter-spacing: 6px;
      position: relative;
      display: inline-block;
      text-decoration: none; }
    .main-nav ul .active a:after {
      background: #fbfcff;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: 28px;
      width: 30px; }

/****************************************************************************/
/* Layout */
/****************************************************************************/
/*========== General ==========*/
.container {
  padding: 0 7% 0 7%;
  position: relative; }

#journal-section, header, .get-in-touch {
  display: flex;
  flex-flow: row wrap; }

img.arrow {
  max-width: 20px;
  display: inline-block;
  margin-left: 1em; }

/*========== Header ==========*/
.header {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding-top: 20px;
  justify-content: space-between; }
  .header img.logo {
    max-height: 20px;
    order: -2;
    flex-basis: auto;
    margin-bottom: 10px; }
  .header a {
    color: #fbfcff;
    font-size: 0.9em;
    font-weight: 900;
    letter-spacing: 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    order: -1; }

/*========== Star Projects ==========*/
#circle-focus {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  mix-blend-mode: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 95px solid #ffd143;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
  #circle-focus.circle-animation-scaled {
    animation: scaleCircle 0.7s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s 1 forwards; }

/*========== Journal Landing ==========*/
#journal-section {
  position: relative; }
  #journal-section .card {
    position: relative;
    -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 400px;
    background-color: #fbfcff;
    align-self: center;
    padding: 2em; }
  #journal-section .circle {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    mix-blend-mode: multiply;
    position: absolute;
    left: -160px;
    top: 100px;
    border: 100px solid #ffc614; }
  #journal-section .styled-text {
    top: 20px;
    right: -30px;
    color: #212121; }
    #journal-section .styled-text:after {
      background-color: #212121; }

/*========== Star Project 1 ==========*/
.star-project {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding-top: 20%; }
  .star-project img.device {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block; }
  .star-project:nth-of-type(2) img.device {
    width: 220%;
    transform: translate3d(-50%, 0, 0);
    padding-bottom: 20px; }
  .star-project .copy {
    position: absolute;
    bottom: 30px;
    padding-right: 7%; }
    .star-project .copy h1 {
      display: inline-block;
      margin: 0;
      color: #fbfcff; }
    .star-project .copy p {
      color: #fbfcff; }
  .star-project .styled-text {
    color: #fbfcff;
    right: 5%; }
    .star-project .styled-text:after {
      background: #fbfcff; }

/****************************************************************************/
/* ANIMATIONS */
/****************************************************************************/
/*========== Animated Background ==========*/
@keyframes scaleCircle {
  from {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0, 0); }
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1, 1); } }
/*========== Text ==========*/
.cover-text h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin-top: 20%; }
.cover-text p {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  opacity: 0.7;
  line-height: 1.9em; }
.cover-text h1, .cover-text p {
  color: #fbfcff; }

/****************************************************************************/
/* Get In Touch */
/****************************************************************************/
/*========== Touch ==========*/
.get-in-touch {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  justify-content: space-around;
  color: #fbfcff;
  text-align: center; }
  .get-in-touch li {
    display: inline-block; }
  .get-in-touch .touch {
    align-self: flex-end;
    padding-bottom: 30%; }
    .get-in-touch .touch a {
      font-weight: 400;
      padding: 7px 0;
      color: #fbfcff;
      border-bottom: 2px solid #fbfcff;
      font-size: 0.7em; }
      .get-in-touch .touch a:hover {
        color: #fff; }
      .get-in-touch .touch a:active {
        color: #fff; }
      .get-in-touch .touch a:visited {
        color: #fff; }
    .get-in-touch .touch h1 {
      font-size: 2.5em;
      font-weight: 600;
      padding: 0 5%; }
  .get-in-touch footer {
    box-sizing: content-box;
    opacity: .7;
    display: inherit;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end; }
    .get-in-touch footer .contact-info {
      text-align: right; }
      .get-in-touch footer .contact-info li {
        display: block;
        font-weight: 400; }
        .get-in-touch footer .contact-info li:nth-child(1) {
          margin-bottom: 5px; }

/*========== Footer ==========*/
.social, .contact-info {
  border-top: 1px solid #fbfcff;
  padding-top: 15px;
  margin-bottom: 15px; }
  .social .social-circle, .contact-info .social-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fbfcff;
    margin: 3px; }

/****************************************************************************/
/* Media Queries */
/****************************************************************************/
/*========== Desktop ==========*/

/*# sourceMappingURL=home.css.map */
