@mixin card($height, $width, $bg-color) {
    -webkit-box-shadow: 0 50px 80px 0 rgba(0,0,0,.2);
    box-shadow: 0 50px 80px 0 rgba(0,0,0,.2);
    width: $width;
    height: $height;
    background-color: $bg-color;
}

@mixin make-stroke-circle($radius, $color, $left, $top, $blending, $border-thickness ) {
    width: $radius;
    height: $radius;
    border-radius: 100%;
    mix-blend-mode: $blending;
    position: absolute;
    left: $left;
    top: $top;
    border: $border-thickness solid $color;
}