
@mixin make-stroke-circle($radius, $color, $left, $top, $blending, $border-thickness ) {
    width: $radius;
    height: $radius;
    border-radius: 100%;
    mix-blend-mode: $blending;
    position: absolute;
    left: $left;
    top: $top;
    border: $border-thickness solid $color;
}
