
@mixin make-stroke-circle($radius, $color, $left, $top, $blending, $border-thickness ) {
  border: $border-thickness solid $color;
  border-radius: 100%;
  height: $radius;
  left: $left;
  mix-blend-mode: $blending;
  position: absolute;
  top: $top;
  width: $radius;
    
    
}
