@mixin sexy-text() {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@mixin nav-item($letter-spacing, $font-weight) {
    color: $grey;
    font-family: $post-grotesk;
    font-size: $link;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

@mixin big-short-headline() {
    font-size: $h1-big;
    font-weight: 900;
    font-family: $post-grotesk;
}

@mixin lora-paragraph() {
    font-family: $lora;
    letter-spacing: 1px;
    font-size: 0.8em;
    margin: 0.3em 0;
    line-height: $line-height-small;
}

@mixin styled-text($color) {
    $color: $color;
    letter-spacing: 7px;
    font-size: 0.5em;
    font-weight: 900;
    transform: rotate(0.25turn);
    position: absolute;
    font-family: $post-grotesk;
}
