@mixin sexy-text {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin link($color) {
  
  color: $color; 
  display: inline-block;
  font-size: $link;
  font-weight: 400;
  letter-spacing: .1em;
  padding: 16px 5px;
  text-decoration: none;
}

@mixin styled-text() {
    letter-spacing: 7px;
    font-size: 0.6em;
    font-weight: 900;
    transform: rotate(0.25turn);
    position: absolute;
}