@import 'variables';
@import 'typography';
@import 'elements';

/****************************************************************************/
/* Universal Fixes and Defaults Reset */
/****************************************************************************/

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

/****************************************************************************/
/* Main Grid */
/****************************************************************************/

.tile {
    width: 400px;
    &.--small {
        
    }
    &.--medium {
    width: 100%;
    }
    &.--big {
        width: 50%;
    }
}

.bg-blue {
    background-color: $blue;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-red {
    background-color: $red;
}

.row, .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.fullscreen {
    width: 100%;
}
