@import 'variables';


/****************************************************************************/
/* Delete Default Styles */
/****************************************************************************/

/*========== List ==========*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
} 

body {
  position: relative;
}

/****************************************************************************/
/* Header */
/****************************************************************************/

/*========== Nav ==========*/

.main-nav {
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  
  

  ul {
    display: block;
    padding-left: 20px;
    position: relative;

    li.nav-item {
      display: inline-block;
      padding: 60px 12px 20px 5px;
    }

    li.nav-item, a {
      -webkit-font-smoothing: antialiased;
      color: $grey;
      font-family: $post-grotesk;
      font-size: $link;
      font-smoothing: antialiased;
      font-weight: 600;
      letter-spacing: 6px;
      position: relative;
      text-decoration: none;
    }
    .active {
      a::after {
        background: $grey;
        content: ''; 
        height: 2px;
        left: 0;
        position: absolute;
        top: 28px;
        width: 30px;
      }
    }
  }
}


/****************************************************************************/
/* Animated Background */
/****************************************************************************/

#animated-background {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;
  background-color: $blue;
}